#bitcoin {
    -webkit-animation:linear infinite;
    -webkit-animation-name: run;
    -webkit-animation-duration: 50s;
}    

#lightning {
    -webkit-animation:linear infinite;
    -webkit-animation-name: run;
    -webkit-animation-duration: 0.25s;
}    


@-webkit-keyframes run {
    0% { left: 0;}
    100%{ margin-left : 80%;}
}